<footer class="bg-body-tertiary text-center text-lg-start fixed-bottom">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    <p>Purdue Pete Tutorials</p>
    <p><a href="mailto:purdueExample.com">purdueexample.com</a></p>
  </div>
</footer>
